<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Find My Court
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content class="background">
  
  <div #map id="map" ></div>

  <div>
  <div >
    <ion-card id = "firstcard">
      <ion-card-header>
        <ion-card-title style="color: black;">Nearby Tennis Courts: </ion-card-title>
        <ion-card-subtitle style="padding: left; color: black	"></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <h1></h1>
        <div class = "listdiv" scrolly="true" style="max-height:120px">
        
      </div>
      <ion-button expand="block" fill="solid" (click)="Find()">Find</ion-button>

      </ion-card-content>
    </ion-card>
  </div>
</div>
</ion-content>